<h1>Show Vehicle</h1>

<ul>

  <li>
    <strong>Plate:</strong>
    <%= @vehicle.plate %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.vehicle_path(@conn, :edit, @vehicle) %></span> |
<span><%= link "Back", to: Routes.vehicle_path(@conn, :index) %></span>
