<section class="phx-hero">
  <h1><%= gettext "Welcome to %{name}!", name: "Phoenix" %></h1>
  <p>Peace of mind from prototype to production</p>
</section>

<section class="row">
  <article class="column">
    <h2>Resources</h2>
    <ul>
      <li>
        <a href="https://hexdocs.pm/phoenix/overview.html">Guides &amp; Docs</a>
      </li>
      <li>
        <a href="https://github.com/phoenixframework/phoenix">Source</a>
      </li>
      <li>
        <a href="https://github.com/phoenixframework/phoenix/blob/v1.6/CHANGELOG.md">v1.6 Changelog</a>
      </li>
    </ul>
  </article>
  <article class="column">
    <h2>Resources</h2>
    <ul>
      <li><a href="http://localhost:4000/parcels">Parcels</a></li>
      <li><a href="http://localhost:4000/seatplans">Seatplans</a></li>
      <li><a href="http://localhost:4000/vehicles">vehicles</a></li>
      <li><a href="http://localhost:4000/travelnotices">Travel Notices</a></li>
      <li><a href="http://localhost:4000/towns">Towns</a></li>
      <li><a href="http://localhost:4000/bookings">Bookings</a></li>
      <li><a href="http://localhost:4000/parceldeliverybookings">Parcel Delivery Bookings</a></li>
    </ul>
  </article>
</section>
