<h1>Show Booking</h1>

<ul>

  <li>
    <strong>Seat:</strong>
    <%= @booking.seat %>
  </li>

  <li>
      <strong>Checked in :</strong>
      <%= @booking.checked_in %>
  </li>

  <li>
        <strong> Booking ID :</strong>
        <%= @booking.booking_id %>
    </li>

</ul>

<span><%= link "Edit", to: Routes.booking_path(@conn, :edit, @booking) %></span> |
<span><%= link "Back", to: Routes.booking_path(@conn, :index) %></span>
