<h1>New Parcel delivery booking</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.parcel_delivery_booking_path(@conn, :create)) %>

<span><%= link "Back", to: Routes.parcel_delivery_booking_path(@conn, :index) %></span>
